{% extends 'layout.html.twig' %}

{% block content %}
<h1>Ajouter une image</h1>
<div class="card" style="width: 30rem;">
<div class="card-body">
    
    
    <form method="post">
        <input 
            type="hidden" 
            value="{{ images.id }}" 
            name="id">
        <div class="input-group mb-3">
        <input 
            type="text" 
            value="{{ images.alt}}" 
            name="alt"
            required
            placeholder="mots clés">
            </div>
        <div class="input-group mb-3">
        <input
            type="text" 
            value="{{ images.context}}" 
            name="context"
            required
            placeholder="Contexte de l'image">
            </div>
            <br>
            <label 
            for="fichier"></label>
            <input
            class=" image mb-3"
            type="file" 
            value="{{ images.image}}" 
            name="pj"
            id="fichier"
            required
            placeholder="image"
            accept="video/mp4,image/jpg, image/png">
        
        <input 
            class="btn btn-success"
            type="submit" 
            value="Add">
    </div>
    </div
    </form>
    
{% endblock %}
