{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Afficher la liste des images</h1>

    <ul class="list-group">
        {% for image in images %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="/images/show/{{ image.id }}">
                    {{ image.alt }}
                </a>
                <a href="{{ image.context }}">context</a>
            </li>

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    
{% endblock %}
