{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ images.context }}</h1>

    <div class="card">
        <img src="/assets/images/photos/{{ images.id }}.jpg" 
            class="card-img-top" 
            alt="{{ images.alt }}">
        <div class="card-body">
            Mots Clés : {{ images.alt }}
        </div>
    </div>
{% endblock %}
