{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Acheter une place pour {{ candy_show.title }}</h1>

    <form method="post" action="/bookings/confirm_buy">
        <input 
            type="text" 
            value="{{ candy_show.id }}"
            name="id"
            hidden>
        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="quantity">
                Nombre de places
                </label>
            <input 
                class="form-control"
                type="number" 
                value=""
                name="quantity"
                id="quantity"
                placeholder="Quantité"
                requiered>
        </div>

        <div class="input-group mb-3">
            <label 
                class="input-group-text" 
                for="type">
                Type
                </label>
            <select 
                class="form-select" 
                name="type"
                id="type"
                requiered>
                <option selected>Choisir...</option>
                {% for price in prices %}
                    <option
                        value="{{ price.id }}">
                        {{ price.ticket_name }}
                        </option>
                {% endfor %}
            </select>
        </div>

        <input
            class="btn btn-dark"
            type="submit" 
            value="Acheter">

        <a href="/home" class="btn btn-outline-secondary">Annuler</a>
    </form>
{% endblock %}
