{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Afficher la liste des Bookings</h1>

    <ul class="list-group">
        {% for booking in bookings %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="/bookings/show/{{ booking.id }}">
                    {{ booking.ref }}
                </a>            
                </li>

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    
    
    
{% endblock %}
