{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ booking.ref }}</h1>


    <div class="d-flex justify-content-center">
        <a class="btn btn-dark m-1" href="/bookings/edit/{{ booking.id }}">Edit</a>
        <a class="btn btn-dark m-1" href="/bookings/delete/{{booking.id}}">Delete</a>
        <a class="btn btn-dark m-1" href="/bookings/index">Back to list</a>
    </div>

    <div class="card">

    </div>


{% endblock %}
