{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Administration</h1>

    <nav>
        <div class="onglets">
            <a href="/artists/index">Artists</a>
            <a href="/prices/index">Prices</a>
            <a href="/user/index">Users</a>
        </div>
    </nav>

    <div class="card">
        <div class="card-title">
            <h4>Artists Controller</h4>
        </div>
        <div class="card-body">

        </div>
    </div>
{% endblock %}

