{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Administration</h1>

    <nav class="d-flex flex-column align-items-start">
        <a class="btn btn-outline-secondary mb-1" href="/candy_show/index">Spéctacles</a>
        <a class="btn btn-outline-secondary mb-1" href="/artists/index">Artistes</a>
        <a class="btn btn-outline-secondary mb-1" href="/venue/index">Salles et Festivals</a>
        <a class="btn btn-outline-secondary mb-1" href="/prices/index">Grilles des prix</a>
        <a class="btn btn-outline-secondary mb-1" href="/user/index">Utilisateurs</a>
        <a class="btn btn-outline-secondary mb-1" href="/images/index">Images</a>
    </nav>

{% endblock %}

