{% extends 'layout.html.twig' %}
{% block title %}Administration{% endblock %}


{% block content %}
	<h1>Administration</h1>

    <div class="card">
        <div class="text-center mt-3">
            Bienvenue Administrateur. Quelle Catégorie souhaitez administrer ?
        </div>
        <div class="card-body d-flex justify-content-center flex-wrap">
                <a class="btn btn-outline-secondary m-1" href="/candy_show/index">Spéctacles</a>
                <a class="btn btn-outline-secondary m-1" href="/artists/index">Artistes</a>
                <a class="btn btn-outline-secondary m-1" href="/venue/index">Salles et Festivals</a>
                <a class="btn btn-outline-secondary m-1" href="/prices/index">Grilles des prix</a>
                <a class="btn btn-outline-secondary m-1" href="/user/index">Utilisateurs</a>
                <a class="btn btn-outline-secondary m-1" href="/images/index">Images</a>
        </div>
    </div>

{% endblock %}

