{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new Artist</h1>
    <form method="post">
    <input type="hidden" value="{{ artists.id }}" name="id">
    <input type="text" value="{{ artists.name }}" name="name">
    <input type="text" value="{{ artists.biography }}" name="biography">
    <input type="text" value="{{ artists.website }}" name="website">
    <input type="submit" value="Add">
</form>
<a href="/artists/index">back to list</a>
{% endblock %}
