{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Afficher la liste des Artistes</h1>

    <ul class="list-group">
        {% for artist in artists %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="/artists/show/{{ artist.id }}">
                    {{ artist.name }}
                </a>
                <a href="{{ artist.website }}">Site internet</a>
            </li>

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    
{% endblock %}
