{% extends 'layout.html.twig' %}

{% block content %}
	<h1>POPE CANDY</h1>

	<div class="card">
		<iframe class="img-card-top" src="https://www.youtube.com/embed/oorVWW9ywG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<div class="card-body">
			Pop Smoke, de son vrai nom Bashar Barakah Jackson, né le 20 juillet 1999 à Brooklyn (New York) et mort assassiné le 19 février 2020 à Los Angeles (Californie) est un rappeur et auteur-compositeur-interprète américain.
			
			La carrière de Pop Smoke décolle avec la sortie de son single Welcome to the Party extrait de sa première mixtape intitulée Meet the Woo sortie le 26 juillet 2019. Sa deuxième mixtape Meet the Woo 2 sort quant à elle 7 mois plus tard le 7 février 2020.
		
			Pop Smoke est tué à l'âge de 20 ans après avoir reçu plusieurs balles lors d'une attaque à main armée dans sa résidence à Hollywood Hills. L'album Shoot For The Stars Aim For The Moon sort 5 mois après sa mort.
		</div>
	</div>
    <h3 class="mt-3">PHOTOS</h3>
	<div class="row justify-content-start">
		<div class="col-md-4 mb-5">
			{% include '_partials/_carousel.html.twig' %}
		</div>
		<div class="col-md-8">
			<div class="card mb-3">
				<div class="card-body">
					<h3>Shoot for the Stars, Aim for the Moon</h3>
					<p>Pop Smoke est décédé le 19 février 2020, assassiné chez lui. Depuis, ses streams ont par exemple bondi de 392% après sa mort. Sa popularité posthume a été une nouvelle fois confirmée avec la sortie de Shoot for the Stars, Aim for the Moon.

Le premier album posthume de Pop Smoke pointe alors à la première place du Billboard 200 albums Charts, soit le classement des albums aux États-Unis. C'est le site Billboard qui l'a annoncé alors que le nouveau classement n'est pas encore sorti, et sera publié dans sa totalité ce mardi 14 juillet.

Le site explique qu'il a débuté avec 251 000 équivalent d'albums vendus, selon les décomptes aux États-Unis (en France, on parle d'équivalent stream). Il décompte plus de 268,44 millions d'écoute en streaming, sur les 19 titres de l'album.

Billboard précise également qu'il s'agit de la 6ème meilleure semaine du top américain en 2020 en terme de vent grâce à cet album. De plus, c'est l'album posthume ayant fait le plus de vente depuis décembre 2018 et Skins de XXXTentacion.

En Australie, l'album de Pop Smoke est également numéro 1 des ventes.

Ce succès intervient alors que trois jours plus tôt, la police de Los Angeles a interpelé 5 individus soupçonnés d'être liés à la mort de Pop Smoke.</p>
				</div>
			</div>
			<h3>Retrouvez Nous sur les réseaux :</h3>
			{% include '_partials/_socials.html.twig' %}
		</div>
	</div>
{% endblock %}
