{% extends 'layout.html.twig' %}

{% block content %}
	<h1>POPE CANDY</h1>

	<div class="card">
		<iframe class="img-card-top" src="https://www.youtube.com/embed/oorVWW9ywG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<div class="card-body">
			Pop Smoke, de son vrai nom Bashar Barakah Jackson, né le 20 juillet 1999 à Brooklyn (New York) et mort assassiné le 19 février 2020 à Los Angeles (Californie) est un rappeur et auteur-compositeur-interprète américain.
			
			La carrière de Pop Smoke décolle avec la sortie de son single Welcome to the Party extrait de sa première mixtape intitulée Meet the Woo sortie le 26 juillet 2019. Sa deuxième mixtape Meet the Woo 2 sort quant à elle 7 mois plus tard le 7 février 2020.
		
			Pop Smoke est tué à l'âge de 20 ans après avoir reçu plusieurs balles lors d'une attaque à main armée dans sa résidence à Hollywood Hills. L'album Shoot For The Stars Aim For The Moon sort 5 mois après sa mort.
		</div>
	</div>
    <h3>PHOTOS</h3>
	<div class="row justify-content-start">
		<div class="col-md-5">
			{% include '_partials/_carousel.html.twig' %}
		</div>
	</div>
	<div class="card col-md-7 w-md-50 h-md-50 w-sm-100 mt-sm-3 ">
  		<div class="card-body ">
    		<h5 class="card-title">Réseaux sociaux de Pop Smoke</h5>
			<p>
    			Retrouver ses clips sur ça chaine : <a href="https://www.youtube.com/channel/UCSaPKJpNd-Mkm6hhelIYSlQ" class="btn btn-danger rounded-pill noUnderline">Youtube</a>
			</p>
			<p>
    			Retrouver ses musiques sur son : <a href="https://open.spotify.com/artist/0eDvMgVFoNV3TpwtrVCoTj?si=IIQHWC-wRYWGfnsA7DC1eA&dl_branch=1" class="btn btn-success rounded-pill noUnderline">Spotify</a>
			</p>
			<p>
    			Retrouver ses idées et ce qu'il aime sur son : <a href="https://twitter.com/POPSMOKE10?s=20" class="btn btn-info rounded-pill noUnderline">Twitter</a>
			</p>
			<p>
    			Retrouver ses photos sur son : <a href="https://www.instagram.com/realpopsmoke/" class="btn btn-warning rounded-pill noUnderline">Instagram</a>
			</p>
  		</div>
	</div>

{% endblock %}
