{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ artists.name }}</h1>

    <div class="card">
        <div class="card-body">
            {{ artists.biography }}
            <br/>
            <a href="{{ artists.website }}">Site internet</a>
        </div>
    </div>


{% endblock %}
