{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Salles ou Festivals</h1>

	<ul class="list-group">
		{% for venue in venues %}
			<li class="list-group-item">
				<a href="/venue/show/{{ venue.id }}">
					{{ venue.title }}
				</a>
				-<b> {{ venue.town }} </b> -
				<i>{{ venue.capacity }} places</i>
			</li>
		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>

{% endblock %}
