<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="opacity:1;">
  <div class="carousel-inner">
    <div class="carousel-item active">
<<<<<<< HEAD
      <img src="/assets/images/882f33c582e252f187742763fb222557.png" class="d-block w-100 imgCover myBorderRadius" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Pop Candy</h1>
        <button type="button" class="btn btn-light rounded-pill">Réserver</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/1200x680_gettyimages-1185574076.png" class="d-block w-100 imgCover myBorderRadius" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Pop Candy</h1>
        <button type="button" class="btn btn-light rounded-pill">Réservert</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pop-smoke-2.png" class="d-block w-100 imgCover myBorderRadius" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Pop Candy</h1>
        <button type="button" class="btn btn-light rounded-pill">Réserver</button>
      </div>
=======
      <img src="/assets/images/882f33c582e252f187742763fb222557.png" class="d-block w-100 imgCover rounded border border-dark" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/1200x680_gettyimages-1185574076.png" class="d-block w-100 imgCover rounded border border-dark" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/1200x680_gettyimages-1185574076.png" class="d-block w-100 imgCover rounded border border-dark" alt="...">
>>>>>>> 78ac4763ff3b7407aca8da7e65eab042f51b1f73
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
