<footer class="container m-auto py-0 row justify-content-center">
    <ul class="card col-md-5 ">
        <div class="card-body text-center text-small text-muted">
            <h5>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                POPE CANDY TICKET PLATEFORME
            </h5>
            Un projet fictif, collaboratif et étudiant du DWWM12 PHILLIANCE<br>
            <i class="fa fa-user" aria-hidden="true"></i>
            Magdarline DECILIEN <br>
            <i class="fa fa-user" aria-hidden="true"></i>
            Léo COSTA<br>
            <i class="fa fa-user" aria-hidden="true"></i>
            Arthur GALLIOT<br>
            Et avec l'aide précieuse de <br>
            <i class="fa fa-user" aria-hidden="true"></i>
            Jean François Nys <br>
            Octobre 2021
        </div>
    </ul>
</footer>
