<footer class="mt-auto">
    <h5>Nos services</h5>
    <div class="services">
        <div class="service">
            <h3>Livraison gratuite</h3>
            <p>Ratione, quidem recusandae explicabo veritatis? Eveniet.</p>
        </div>
        <div class="service">
            <h3>Paiement en ligne</h3>
            <p>Lorem ipsum dolor sit veniam voluptatem voluptatum reprehenderit Eveniet.</p>
        </div>
        <div class="service">
            <h3>Satisfait ou remboursé</h3>
            <p>Recusandae explicabo veniam voluptatem voluptatum reprehenderit.</p>
        </div>
    </div>
    <p id="contact">Contact : 08 19 17 278 1 | &copy; 2021, Pop Candy.</p>
</footer>
