{% block nav %}

  <div class="btn-group" role="group" aria-label="Basic example"><a href="\src\view\home"><button type="button" class="btn btn-primary">accueil</button>></a>
<a href="\src\view\candy_show\index.html.twig" ><button type="button" class="btn btn-primary">spectacles</button>></a>
<a href="\src\view\user\buyed"> <button type="button" class="btn btn-primary">utilisateur</button>></a>
<a pop href="\src\view\artists\pope_candy"> <button type="button" class="btn btn-primary"> smook</button>=Smook</button>"></a>
</div>
{% endblock %}
