<div class="d-flex justify-content-evenly align-items-center">
	<a 
		target="_blank"
		title="Pope Candy sur Youtube"
		href="https://www.youtube.com/channel/UCSaPKJpNd-Mkm6hhelIYSlQ" 
		class="noUnderline text-dark fs-1">
		<i class="fa fa-youtube" aria-hidden="true"></i>
	</a>
	<a 
		target="_blank"
		title="Pope Candy sur Spotify"
		href="https://open.spotify.com/artist/0eDvMgVFoNV3TpwtrVCoTj?si=IIQHWC-wRYWGfnsA7DC1eA&dl_branch=1" 
		class="noUnderline text-dark fs-1">
		<i class="fa fa-spotify" aria-hidden="true"></i>
	</a>
	<a 
		target="_blank"
		title="Pope Candy sur Twitter"
		href="https://twitter.com/POPSMOKE10?s=20" 
		class="noUnderline text-dark fs-1">
		<i class="fa fa-twitter-square" aria-hidden="true">
		</i>
	</a>
	<a 
		target="_blank"
		title="Pope Candy sur Instagram"
		href="https://www.instagram.com/realpopsmoke/" 
		class="noUnderline text-dark fs-1">
		<i class="fa fa-instagram">
		</i>
	</a>
</div>