{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new item</h1>
    <form method="post">
    <input type="hidden" value="{{ item.id }}" name="id">
    <input type="text" value="{{ item.title }}" name="title">
    <input type="submit" value="Add">
</form>
<a href="/item">back to list</a>
{% endblock %}
