{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit item {{ item.title }}</h1>
    <form method="post">
    <input type="hidden" value="{{ item.id }}" name="id">
    <input type="text" value="{{ item.title }}" name="title">
    <input type="submit" value="Update">
</form>
<br>
    <a href="/item/show/{{ item.id }}">Back to list</a>
{% endblock %}
