{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Afficher les différents prix</h1>

    <ul class="list-group">
        {% for price in prices %}
            <li class="list-group-item" >
                <a href="/prices/show/{{ price.id }}">Salle :{{ price.venue_name }}</a>

                <div>Prix de la réduction en euros HT : <b>{{ price.price }}</b></div>
                <div>Type de réduction : {{ price.ticket_name }}</div>
         
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    


{% endblock %}
