{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello developer!</h1>
    <p>to show this, you pass by:</p>
    <ol>
        <li>/public/index.php</li>
        <li>/src/Controller/HomeController.php</li>
        <li>/src/View/layout.html.twig</li>
        <li>/src/View/Home/index.html.twig</li>
        <li>go back in /src/Contoller/HomeController.php with result of view</li>
        <li>go back in /public/index.php with result of Controller</li>
        <li>/public/index show the result of the HomeController</li>
    </ol>
    <br>
    <p>you can try the app with <a href="/item">item</a></p>
{% endblock %}
