{% extends 'layout.html.twig' %}

{% block content %}

    <header>
        <h1>Pop Candy Tour</h1>
        <h4>Le mastodonte est de retour</h4>
        <button>Parcourir</button>
    </header>



{% endblock %}
