{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Spectacles</h1>
    
    <ul class="list-group">
        {% for candy_show in candy_shows %}
            <li class="list-group-item">
                <a 
                    href="/candy_show/show/{{ candy_show.id }}">
                    {{ candy_show.title }}
                </a>
                <div>{{ candy_show.show_start|date("d/m/y") }}</div>
                <div>Ventes {{ candy_show.sales }}</div>
            </li>

        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

{% endblock %}
