@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* @import url('../media/Quick\ Love.ttf'); */

@font-face {
    font-family: "Ginto";
    src: url("../media/GothBallCrap.woff2") format("woff2");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background: url('../images/pop-smoke1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-shadow: 0 1px 0 #ffffff1f, 0 -1px 0 #79baf01f;
    color: white;
    text-transform: uppercase;
}

.h1 {
    text-shadow: 0 1px 0 #ffffff1f, 0 -1px 0 #79baf01f;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

nav h2 {
    font-family: 'Ginto', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 2px 1px 50px #ce595946, 0 -1px 0 #79baf01f;
}

nav h3 {
    font-family: 'Ginto', sans-serif;
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 1px 50px #ce595946, 0 -1px 0 #79baf01f;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 40px;
}

header h1 {
    font-family: 'Ginto', serif;
    font-size: 50px;
    text-transform: uppercase;
}

.boxShadow {
    transition: box-shadow 0.75s;
}

.boxShadow:hover {
    box-shadow: 5px 5px 15px -3px grey;
}

.imgCover {
    object-fit: cover;
    height: calc(80vh - 56px);
}

.boxShadow:hover {
    box-shadow: 0px 5px 15px -3px rgba(128, 128, 128, 0.342);
}

.myBorderRadius {
    border-radius: 30px !important;
}

.btn {
    border-radius: 30px !important;
    margin-left: 2px;
    margin-right: 2px;
}

#sizeCarousel {
    height: 0;
    width: 60%;
    padding-bottom: 100%;
    margin-left: 20%;
}

.noUnderline {
    text-decoration: none!important;
}

.text-small {
    font-size: 0.85rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

.card>*,
.ul>*,
.alert>* {
    border: none;
}

.alert {
    border: none;
}

.list-group>* {
    background-color: rgba(255, 255, 255, 0.95)!important;
}

.form-search,
.form-search-button {
    background: none;
    border: none;
}

.form-search {
    width: 70%;
}