{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Se connecter</h1>
    <form method="post" class="form-group">
        <input 
            class="form-control mb-3"
            type="text"
            value="{{ user.name  }}"
            name="user"
            placeholder="Prénom ou Email" 
            required>
        <input
            class="form-control mb-3"
            type="password"
            value="{{ user.password }}"
            name="password"
            placeholder="Mot de passe"
            required>
        <input
            class="btn btn-dark mb-3"
            type="submit"
            value="Connexion">
    </form>
{% endblock %}